html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 168.75%; /* 27px/16 */
  font-weight: 400;
  color: $default;
  overflow-x: hidden;
  min-width: 300px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    margin: 0 15px;
  }
  button {
    background-color: $title;
    border: none;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
  }
  li.slick-active {
    button {
      background-color: #ffef35;
    }
  }
}

.info-email {
  padding-left: 30px;
  position: relative;
  margin-bottom: 23px;
  display: inline-block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #363838;
  &::before {
    position: absolute;
    background-image: url(../images/envelope.svg);
    top: 8px;
    left: 0;
    content: "";
    width: 16px;
    height: 12px;
  }
}
