@media (max-width: 970px) {
  .footer__contact {
    margin-right: 42px;
  }
  .footer__social {
    margin-right: 56px;
  }
}

@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
  .menu__list-item + .menu__list-item {
    padding-left: 40px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contact {
    margin-bottom: 32px;
  }
}

@media (max-width: 540px) {
  .menu__list-item + .menu__list-item {
    padding-left: 0;
  }
  .logo {
    order: -1;
    z-index: 13;
    margin: 0;
  }
  .menu__list-item {
    margin-bottom: 30px;
  }
  .menu__list {
    display: block;
  }
  .header__btn-menu {
    border: none;
    background: transparent;
    display: block;
    padding: 0;
    cursor: pointer;
    z-index: 12;
    order: -1;
    margin-right: 25px;
  }
  .header__btn-menu span {
    background-color: $title;
    width: 37px;
    height: 3px;
    border-radius: 4px;
    display: block;
    margin-bottom: 6px;
  }
  .menu {
    position: relative;
    transform: translateY(-350px);
    transition: all 0.8s ease;
    z-index: 12;
    background: #fff;
    width: 100%;
    text-align: center;
  }
  .menu-open {
    transform: translateY(55px);
    margin-left: -15px;
  }
  .header__inner {
    flex-wrap: wrap;
    padding-top: 30px;
    margin-right: -30px;
  }
}
