@import "vars";
@import "reset";
@import "global";

//                   Header

.header {
  &__inner {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-left: 35px;
  padding-right: 60px;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 80px;
  }
  &__list-item-link {
    @extend %title-font;
    line-height: 137.5%; /* 22px/16 */
    color: rgba(54, 56, 56, 0.902);
  }
}

//                         Footer

.footer {
  &__content {
    background: #dfdfdf;
    padding: 60px 0 80px;
    display: flex;
  }
  &__copyright {
    background: $title;
    line-height: 175%;
    padding: 42px 0 41px;
    text-align: center;
    color: #a1a1a1;
  }
  &__title{
    color: $title;
    @extend %title-font;
    line-height: 144%;
    font-size: inherit;
    margin-bottom: 14px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

