@import "vars";
@import "reset";
@import "global";

//                   Header

.header {
  background: #fff;
  &__inner {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-left: 35px;
  padding-right: 60px;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 80px;
  }
  &__list-item-link {
    @extend %title-font;
    line-height: 137.5%; /* 22px/16 */
    color: rgba(54, 56, 56, 0.902);
  }
}

//                         Footer

.footer {
  &__content {
    background: #dfdfdf;
    padding: 60px 0 80px;
    display: flex;
  }
  &__contact {
    margin-right: 99px;
  }
  &__menu {
    margin-right: 25px;
    width: 125px;
  }
  &__form {
    display: flex;
  }
  &__form-inp {
    border-radius: 21px;
    padding: 6px 10px 6px 18px;
    background-color: transparent;
    /* opacity: 0.7; use another option below, to avoid fading for all input*/
    border: 1px solid rgba($title, 0.7);
    width: 100%;
  }
  &__::placeholder {
    color: #a1a1a1;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%; /* 28px/16 */
  }
  &__email::before {
    position: absolute;
    background-image: url(../images/envelope.svg);
    top: 8px;
    left: 0;
    content: "";
    width: 16px;
    height: 12px;
  }
  &__email {
    padding-left: 30px;
    position: relative;
    margin-bottom: 23px;
    display: inline-block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #363838;
  }
  &__copyright {
    background: $title;
    line-height: 175%;
    padding: 42px 0 41px;
    text-align: center;
    color: #a1a1a1;
  }
  &__title {
    color: $title;
    @extend %title-font;
    line-height: 144%;
    margin-bottom: 14px;
  }
  &__text {
    max-width: 476px;
    margin-bottom: 16px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__social-link {
    position: relative;
    padding-left: 28px;
  }
  &__social-link::before {
    position: absolute;
    content: "";
    left: 0;
    top: 6px;
  }
  &__social-link,
  &__link {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #707070;
  }
  &__social {
    margin-right: 176px;
    width: 125px;
  }
  &__form-btn {
    display: inline-block;
    width: 160px;
    background: $title;
    border-radius: 21px;
    padding: 6px 12px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #fffff0;
    margin-left: 9px;
    cursor: pointer;
    border: none;
  }
  &__social-link_facebook::before {
    background-image: url(../images/facebook.svg);
    width: 16px;
    height: 16px;
    top: 5px;
  }
  &__social-link_instagram::before {
    background-image: url(../images/instagram.svg);
    width: 14px;
    height: 15px;
    top: 7px;
  }
  &__social-link_pinterest::before {
    background-image: url(../images/Pinterest.svg);
    width: 16px;
    height: 16px;
    top: 5px;
  }
  &__social-link_whatsApp::before {
    background-image: url(../images/whatsapp.svg);
    width: 14px;
    height: 14px;
  }
  &__social-link_youtube::before {
    background-image: url(../images/youtube.svg);
    width: 18px;
    height: 12px;
    top: 7px;
  }
}

.right-side-menu {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  max-width: 694px;
  padding-top: 40px;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0px 1px 4px #000;
  &.right-side-menu_close {
    transform: translateX(500%);
  }
  &__btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 60px;
  }
  &__content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &__link {
    display: inline-block;
    margin-bottom: 40px;
  }
  &__title {
    @extend %title-font;
    font-style: normal;
    font-size: 36px;
    line-height: 51px;
    color: $title;
    margin-bottom: 17px;
    padding-bottom: 17px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      max-width: 252px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background-color: #6d7278;
    }
  }
  &__text {
    margin-bottom: 75px;
  }
  &__img {
    max-width: 485px;
  }
}

// Top

.top {
  &__inner {
    position: relative;
    padding-bottom: 70px;
  }
  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/top__bg.jpg);
    height: 722px;
    width: 100%;
    top: 0;
    z-index: -1;
  }
  &__slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &__slider-item-img {
    margin-left: -16%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }
  &__slider-info {
    max-width: 635px;
    margin-left: 25px;
  }
  &__title {
    font-size: 110px;
    line-height: 134px;
    margin-bottom: 28px;
    padding-bottom: 28px;
    color: $title;
    @extend %title-font;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 185px;
      background: #6d7278;
      height: 1px;
    }
  }
  &__text {
    max-width: 585px;
  }
}

//      New

.container-fluid {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 10px;
}

.new {
  padding-bottom: 104px;
  &__title {
    position: relative;
    text-align: center;
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    &::after {
      position: absolute;
      height: 1px;
      content: "";
      bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      max-width: 250px;
      background: #6d7278;
      margin: 0 auto;
    }
  }
  &__collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
  &__collection-item {
    position: relative;
    &:hover {
      .new__info {
        opacity: 1;
      }
    }
  }
  &__collection-img {
    min-height: 350px;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: rgba(#fff, 0.6);
    padding: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &__text {
    text-align: center;
    max-width: 730px;
    margin: 0 auto 27px;
  }
  &__info-title {
    position: relative;
    padding-bottom: 19px;
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 25px;
    color: $title;
    @extend %title-font;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      width: 88%;
      background: #6d7278;
      height: 1px;
      margin: 0 auto;
    }
  }
  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}

//    Decor

.decor {
  padding: 173px 0 156px;
  background-image: url(../images/decor.jpg);
  &__title {
    position: relative;
    padding-bottom: 22px;
    margin-bottom: 22px;
    font-size: 60px;
    line-height: 80px;
    color: $title;
    @extend %title-font;
    &:after {
      position: absolute;
      content: "";
      background: #6d7278;
      border-radius: 0.5px;
      height: 1px;
      bottom: 0;
      max-width: 200px;
      left: 0;
      right: 0;
    }
  }
  &__text,
  &__title {
    max-width: 540px;
  }
}

//    How

.how {
  margin: 94px 0;
  &__box {
    display: flex;
    align-items: start;
    border-bottom: 2px solid rgba($title, 0.7);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      bottom: -6px;
      left: 0;
      width: 10px;
      height: 10px;
      background: $title;
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: -13px;
      left: 26.5%;
      width: 20px;
      height: 2px;
      background: rgba($title, 0.7);
      transform: rotate(90deg);
    }
  }
  &__box-second {
    position: relative;
    display: flex;
    align-items: baseline;
    padding-left: 306px;
    &::after {
      position: absolute;
      content: "";
      top: -6px;
      right: 0;
      width: 10px;
      height: 10px;
      background: $title;
      border-radius: 50%;
    }
    &::before {
      position: absolute;
      content: "";
      top: -13px;
      right: 47%;
      width: 20px;
      height: 2px;
      background: rgba($title, 0.7);
      transform: rotate(90deg);
    }
  }
  &__item_delivery {
    margin-left: 328px;
    margin-top: 28px;
  }
  &__h6_padding {
    padding: 14px 0 0 0;
  }
  &__item_measurement p {
    text-align: left;
  }
  &__item_measurement,
  &__text_special {
    max-width: 226px;
    margin-left: auto;
    text-align: end;
  }
  &__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__item_prod {
    margin-left: 330px;
  }
  &__title {
    font-size: 36px;
    line-height: 51px;
    text-align: center;
    color: $title;
    @extend %title-font;
    margin-bottom: 30px;
  }
  &__h6 {
    line-height: 23px;
    @extend %title-font;
    color: $title;
    margin-left: 6px;
  }
  &__text {
    margin-top: 13px;
  }
}

//    Gallery

.gallery {
  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  &__btn + .gallery__btn {
    margin-left: 25px;
  }
  &__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #8f8d8d;
    border: 1px solid rgba(#454647, 0.5);
    border-radius: 20px;
    padding: 6px 16px;
    background: none;
    cursor: pointer;
  }
  &__btn_active {
    background: rgba(#ffef35, 0.5);
    color: $title;
    opacity: 1;
    border: none;
  }
}
